* {
    scrollbar-background: $surface-darken-1;
    scrollbar-background-active: $surface-darken-1;
    scrollbar-background-hover: $surface-darken-1;
    scrollbar-color: $surface-lighten-1;
    scrollbar-size: 1 1;
}

Collapsible {
    background: transparent;
    border-top: solid $surface-lighten-3 50%;
    padding: 0;

    &:first-child {
        border-top: none;
    }

    & > Contents {
        padding: 0;
    }
}

CollapsibleTitle {
    padding: 0 1;

    &:focus {
        background: $background 0%;
        text-style: none;
    }
}

Screen {
    grid-columns: 1.5fr 1fr;
    grid-size: 2 2;
    layout: grid;
}

VerticalScroll {
    layout: stream;
}

.box {
    border: solid $surface-lighten-3;
    height: 100%;
}

#downloads {
    background: transparent;
    border-title-color: $text;
    row-span: 2;

    &.disabled {
        hatch: left $surface-lighten-1 75%;
    }

    & > .tree--cursor,
    &:focus > .tree--cursor {
        background: $primary-muted;
        color: $text-primary;
    }

    & > .tree--guides,
    & > .tree--guides-hover,
    & > .tree--guides-selected {
        color: $surface-lighten-1;
        text-style: none;
    }

    & > .tree--highlight {
        text-style: none;
    }

    & > .tree--highlight-line {
        background: transparent;
    }
}

#events-eyetea, #events-http {
    border-title-color: $text;
    padding: 1 1;
}

