* {
    scrollbar-color: $text 50%;
    scrollbar-size: 1 1;
}

EventEntry {
    background: $surface;
    border-top: solid $surface-lighten-3 50%;
    padding: 0;

    &.first {
        border-top: none;
    }

    & > Contents {
        padding: 1 2;
    }
}

EventEntryTitle {
    padding: 0 1;

    &:focus {
        background: $background 0%;
    }

    .event-entry-title--error {
        background: $error-darken-2;
        color: $foreground;
    }

    .event-entry-title--error-muted {
        background: $error-muted;
        color: $text-error;
    }

    .event-entry-title--highlight {
        background: $surface-lighten-2;
        color: $foreground;
    }

    .event-entry-title--highlight-muted {
        background: $surface;
        color: $foreground-muted;
    }

    .event-entry-title--info {
        background: $primary-darken-2;
        color: $foreground;
    }

    .event-entry-title--info-muted {
        background: $primary-muted;
        color: $text-primary;
    }

    .event-entry-title--success {
        background: $success-darken-2;
        color: $foreground;
    }

    .event-entry-title--success-muted {
        background: $success-muted;
        color: $text-success;
    }
}

RichLog {
    height: auto;
    overflow: auto auto;
}

Screen {
    grid-columns: 1.5fr 1fr;
    grid-size: 2 2;
    layout: grid;
}

.box {
    border: solid $surface-lighten-3;
    height: 100%;
}

.error {
    background: $error-darken-3 50%;
}

.success {
    background: $success-darken-3 50%;
}

#downloads {
    background: transparent;
    border-title-color: $text;
    row-span: 2;

    &.disabled {
        hatch: left $surface-lighten-1 75%;
    }

    & > .tree--cursor,
    &:focus > .tree--cursor {
        background: $primary-muted;
        color: $text-primary;
    }

    & > .tree--guides,
    & > .tree--guides-hover,
    & > .tree--guides-selected {
        color: $surface-lighten-1;
        text-style: none;
    }

    & > .tree--highlight {
        text-style: none;
    }

    & > .tree--highlight-line {
        background: transparent;
    }
}

#events-eyetea, #events-http {
    border-title-color: $text;
    padding: 1 1;
}

